# Node
nodemon.json
node_modules/
# dist/
build/
.env
.env.local
.env.production
.env.development

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/*.db-journal
prisma/migrations/*/steps.json
prisma/migrations/*/migration.sql
# (optional: keep migration.sql if you want migrations tracked)

# Redis / cache
dump.rdb
*.rdb

# OS files
.DS_Store
Thumbs.db

# TypeScript build
*.tsbuildinfo

# IDE settings
.vscode/
.idea/

# Other temporary
.tmp/
.cache/
