version: "3.9"

services:
  backend:
    build: .
    container_name: chat-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - postgres
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/chatdb?schema=public
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start

  redis:
    image: redis:alpine3.22
    container_name: chat-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  postgres:
    image: postgres:15-alpine
    container_name: chat-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  redis_data:
  postgres_data:
