name: Deploy to VPS

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Connect & Deploy to VPS
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: 103.252.116.188
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: | 
            cd /root/chat-app-server
            git pull origin master
            npm install --production
            pm2 restart chat-backend-*
